:root {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: Lexend Deca;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 14px;
  }
}
